<!DOCTYPE html>
<html lang="ko-KR">

<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>삭제된 게시글</title>
  <link rel="stylesheet" href="{% static './css/common.css' %}">
  <link rel="stylesheet" href="{% static './css/view.css' %}">
</head>

<body>
  <!-- header -->
  <div class="header">
    
    <div class="header-click">
      
      
      
      <button type="button">로그아웃</button>
    </div>
  </div>
  <!-- // header -->

  <div class="main">
    <h2 class="main-title">삭제된 게시글</h2>
    <div class="view">
      <div class="view-header">
        <div class="view-info">
          <p>이 게시글은 존재하지 않거나 삭제되었습니다.</p>
        </div>
      </div>
    </div>
    <div class="btn-group">
      
    </div>
  </div>
  <!-- footer -->
  <p class="footer">Copyright 2023. Chilli All rights reserved.</p>
  <!-- //footer -->
</body>

</html>
