<!DOCTYPE html>
<html lang="ko-KR">

<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ account.username }}의 프로필</title>
  <link rel="stylesheet" href="{% static 'css/common.css' %}">
  <link rel="stylesheet" href="{% static 'css/table.css' %}">
  <link rel="stylesheet" href="{% static 'css/list.css' %}">
</head>

<body>
  <!-- header -->
  <div class="header">
    <h1><a href="/index/">YGO BLOG</a></h1>
    <div class="header-click">
      <a href="/login/">로그인</a>
      <a href="/join/">회원가입</a>
      <button type="button">로그아웃</button>
    </div>
  </div>
  <!-- // header -->

  <div class="main">
    <h2 class="main-title">{{ account.username }}의 프로필</h2>

    <!-- 계정 정보 -->
    <div class="account-info">
      <table class="table list">
        <tbody>
          <tr>
            <th>사용자명</th>
            <td>{{ account.username }}</td>
          </tr>
          <tr>
            <th>이메일</th>
            <td>{{ account.email }}</td>
          </tr>
          <tr>
            <th>이름</th>
            <td>{{ account.first_name }}</td>
          </tr>
          <tr>
            <th>성</th>
            <td>{{ account.last_name }}</td>
          </tr>
          <!-- 추가적으로 필요한 정보가 있으면 여기에 더 행을 추가하세요 -->
        </tbody>
      </table>
    </div>
    <!-- //계정 정보 -->

    <div class="btn-group">
      <a href="/account/edit/{{ account.pk }}/" class="btn">정보 수정</a>
    </div>
  </div>

  <!-- footer -->
  <p class="footer">Copyright 2023. Chilli All rights reserved.</p>
  <!-- //footer -->
</body>

</html>
