<!DOCTYPE html>
<html lang="ko-KR">

<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>YGO Blog - 공유하고 탐색하자</title>
  <!-- Additional CSS Files -->
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>
  <!-- Header -->
  <header class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="{% url 'index' %}">YGO BLOG</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContents" aria-controls="navbarSupportedContents" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContents">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'blog_list' %}">Blog</a>
          </li>
          <li class="nav-item">
            
          </li>
        </ul>
        <div class="navbar-nav ml-auto">
          {% if not user.is_authenticated %}
            <a class="nav-item nav-link" href="{% url 'login' %}">로그인</a>
            <a class="nav-item nav-link" href="{% url 'register' %}">회원가입</a>
          {% else %}
            <span class="navbar-text">안녕하세요, {{ user.username }}!</span>
            <form action="{% url 'logout' %}" method="post" class="form-inline ml-2">
              {% csrf_token %}
              <button type="submit" class="btn btn-outline-light">로그아웃</button>
            </form>
          {% endif %}
        </div>
      </div>
    </div>
  </header>
  <!-- // Header -->

  <main class="container my-5">
    <h1 class="text-center mb-5">YGO Blog - Yu-Gi-Oh 정보 공유</h1>
    
    <!-- Blog Post Example -->
    <div class="row justify-content-center">
      <div class="col-lg-8">
        
      </div>
    </div>
  </main>

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">저작권 &copy; YGO BLOG 2023</p>
    </div>
  </footer>
  <!-- //Footer -->
  <script src="{% static 'js/script.js' %}"S></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>
